canvas{
    display: block;
    cursor: default;
    border: 5px solid orange;
    border-radius: 10px;
    /*position: absolute;*/
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
#team-name {
    color : darkgreen;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

body {
    background-image: url("../assets/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#info-text{
    vertical-align : bottom;
    bottom: 0;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

